In [609]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [611]:
# baca file simpan menjadi df
df = pd.read_excel("dataKasus-1.xlsx")

In [645]:
# lihat jumlah baris null untuk setiap kolom
df.isna().sum()

USIA                                0
PARITAS                             0
RIW HIPERTENSI                      0
OBESITAS                            0
RIW DM                              0
RIW HIPERTENSI/PE DALAM KELUARGA    0
SOSEK RENDAH                        0
jarak_> 2 tahun                     0
jarak_anak pertama                  0
riw_Impending Eklamsia              0
riw_Impending PE                    0
riw_Kejang Konvulsi                 0
riw_PE                              0
riw_PEB                             0
riw_PEB impending eklampsi          0
riw_Tidak                           0
_Non PE                             0
_PE                                 0
_PE gemelli                         0
_PEB                                0
_PEB impending eklampsi             0
dtype: int64

In [643]:
# melihat tipe data tiap kolom
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   USIA                              561 non-null    int32
 1   PARITAS                           561 non-null    int64
 2   RIW HIPERTENSI                    561 non-null    int64
 3   OBESITAS                          561 non-null    int64
 4   RIW DM                            561 non-null    int64
 5   RIW HIPERTENSI/PE DALAM KELUARGA  561 non-null    int64
 6   SOSEK RENDAH                      561 non-null    int64
 7   jarak_> 2 tahun                   561 non-null    int32
 8   jarak_anak pertama                561 non-null    int32
 9   riw_Impending Eklamsia            561 non-null    int32
 10  riw_Impending PE                  561 non-null    int32
 11  riw_Kejang Konvulsi               561 non-null    int32
 12  riw_PE                            561 non-null    int32
 13  riw_PEB                           561 non-null    int32
 14  riw_PEB impending eklampsi        561 non-null    int32
 15  riw_Tidak                         561 non-null    int32
 16  _Non PE                           561 non-null    int32
 17  _PE                               561 non-null    int32
 18  _PE gemelli                       561 non-null    int32
 19  _PEB                              561 non-null    int32
 20  _PEB impending eklampsi           561 non-null    int32
dtypes: int32(15), int64(6)
memory usage: 59.3 KB

In [617]:
# menghilangkan kolom Unnamed:12 yang semuanya berisi null
df.drop(columns=['Unnamed: 12'], inplace = True)

# menghilangkan kolom yang tidak terpakai sebagai atribut (NO, NAMA)
df.drop(columns=['NO', 'NAMA'], inplace = True)

In [619]:
# Fungsi untuk membersihkan dan mengubah format kolom 'USIA' menjadi angka
# Fungsi untuk membersihkan dan mengubah format kolom 'USIA' menjadi angka
def extract_age(value):
    try:
        return int(''.join(filter(str.isdigit, str(value))))
    except ValueError:
        return np.nan

# Terapkan fungsi di atas ke kolom 'USIA'
df['USIA'] = df['USIA'].apply(extract_age)

# Mengganti nilai NaN dengan rata-rata usia
mean_age = df['USIA'].mean()
df['USIA'] = df['USIA'].fillna(mean_age)  # Assign hasil kembali ke kolom

# Casting kolom 'USIA' menjadi int setelah memastikan tidak ada nilai NaN
df['USIA'] = df['USIA'].astype(int)

In [621]:
# melakukan teknik one hot encoder pada kolom JARAK KELAHIRAN
# Menghapus spasi di depan dan belakang
df['JARAK KELAHIRAN'] = df['JARAK KELAHIRAN'].str.strip()

# Melakukan one-hot encoding pada kolom 'JARAK KELAHIRAN'
df = pd.get_dummies(df, columns=['JARAK KELAHIRAN'], prefix='jarak', drop_first=True)

# Mengonversi kolom boolean menjadi integer (0 dan 1)
df = df.astype({'jarak_> 2 tahun': 'int', 'jarak_anak pertama': 'int'})

In [623]:
# mengubah nilai pada kolom RIW HIPERTENSI {'Tidak': 0, 'Ya': 1}
# Ganti nilai di kolom 'RIW HIPERTENSI' menggunakan map
mapping = {
    'Tidak': 0,
    'Ya': 1
}
df['RIW HIPERTENSI'] = df['RIW HIPERTENSI'].map(mapping)

In [625]:
mapping = {
    'impending eklamsia': 'Impending Eklamsia',
    'Impending Ekalmsia': 'Impending Eklamsia',
    'PE, HELLP Syndrome': 'HELLP SYNDROM'
}

# Menggunakan map untuk mengganti nilai
df['RIW PE'] = df['RIW PE'].map(mapping).fillna(df['RIW PE'])

In [627]:
# Melakukan one-hot encoding pada kolom 'RIW PE'
df = pd.get_dummies(df, columns=['RIW PE'], prefix='riw', drop_first=True)

# Mengonversi kolom boolean menjadi integer (0 dan 1)
df = df.astype({'riw_Impending Eklamsia': 'int', 
                'riw_Impending PE': 'int', 
                'riw_Kejang Konvulsi': 'int',
                'riw_PE': 'int',
                'riw_PEB': 'int',
                'riw_PEB impending eklampsi': 'int',
                'riw_Tidak': 'int',
               })

In [629]:
# mengubah nilai pada kolom OBESITAS {'Tidak': 0, 'Ya': 1}
# Ganti nilai di kolom 'OBESITAS' menggunakan map
mapping = {
    'Tidak': 0,
    'Ya': 1
}
df['OBESITAS'] = df['OBESITAS'].map(mapping)

In [631]:
# mengubah nilai pada kolom RIW DM {'Tidak': 0, 'Ya': 1}
# Ganti nilai di kolom 'RIW DM' menggunakan map
mapping = {
    'Tidak': 0,
    'Ya': 1
}
df['RIW DM'] = df['RIW DM'].map(mapping)

In [633]:
# mengubah nilai pada kolom RIW HIPERTENSI/PE DALAM KELUARGA {'Tidak': 0, 'Ada': 1}
# Ganti nilai di kolom 'RIW HIPERTENSI/PE DALAM KELUARGA' menggunakan map
mapping = {
    'Tidak': 0,
    'Ada': 1
}
df['RIW HIPERTENSI/PE DALAM KELUARGA'] = df['RIW HIPERTENSI/PE DALAM KELUARGA'].map(mapping)

In [635]:
# mengubah nilai pada kolom SOSEK RENDAH {'>UMR': 0, '<UMR': 1}
# Ganti nilai di kolom 'SOSEK RENDAH' menggunakan map
mapping = {
    '>UMR': 0,
    '<UMR': 1
}
df['SOSEK RENDAH'] = df['SOSEK RENDAH'].map(mapping)

In [637]:
# Calculate the mode of the column
mode_value = df['PE/Non PE'].mode()[0]

# Replace NaN values with the mode
df['PE/Non PE'] = df['PE/Non PE'].fillna(mode_value)

df['PE/Non PE'] = df['PE/Non PE'].str.strip()

In [639]:
# Melakukan one-hot encoding pada kolom 'RIW PE'
df = pd.get_dummies(df, columns=['PE/Non PE'], prefix='', drop_first=True)

# Mengonversi kolom boolean menjadi integer (0 dan 1)
df = df.astype({'_Non PE': 'int', 
                '_PE': 'int', 
                '_PEB': 'int',
                '_PE gemelli': 'int',
                '_PEB impending eklampsi': 'int',
               })

In [647]:
# Save the DataFrame to an Excel file
df.to_excel('datasiap.xlsx', index=False)