In [12]:
import pandas as pd

In [14]:
# Load the uploaded Excel file to inspect its contents
file_path = 'Luas Panen, Produksi, dan Produktivitas Padi Menurut Provinsi, 2024.csv'

In [18]:
# Load the Excel file to check sheet names and structure
data = pd.read_csv(file_path)

In [20]:
# Remove rows with extra headers or metadata (the first 3 rows in this case)
cleaned_data = data.iloc[3:].reset_index(drop=True)

In [22]:
# Rename columns to appropriate names
cleaned_data.columns = ['Provinsi', 'Luas Panen (ha)', 'Produktivitas (ku/ha)', 'Produksi (ton)']

In [26]:
# Check the cleaned data
cleaned_data.head()

         Provinsi Luas Panen (ha) Produktivitas (ku/ha) Produksi (ton)
0            ACEH       301081.97                 54.58     1643355.07
1  SUMATERA UTARA       419089.12                  51.4     2154117.08
2  SUMATERA BARAT       296215.93                 45.64     1352048.77
3            RIAU        57003.35                 39.62       225836.5
4           JAMBI        64119.24                 45.44      291367.31

In [28]:
# Menyimpan DataFrame ke file CSV
cleaned_data.to_csv('dataset_bersih.csv', index=False)  # index=False untuk menghilangkan indeks